{% extends "layout/app.html" %}

{# Título da página #}
{% block title %}{{ request.user.username }} - {% endblock %}

{# Conteúdo #}
{% block content %}
    <div class="row">
        {# Informações do usuário #}
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div class="row mb-4">
                <div class="col-12">
                    <h4>Perfil</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {# Username #}
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label>@{{ user.username }}</label>
                        </div>
                    </div>
                    {# Nome do usuário #}
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label>{{ user.get_full_name }}</label>
                        </div>
                    </div>
                    {# Email #}
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label>{{ user.email }}</label>
                        </div>
                    </div>
                    {# Data da criação #}
                    <div class="form-group row">
                        <div class="col-sm-9">
                            <label>{{ user.date_joined }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# Informações contidas pelo usuário #}
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            {# Veículos #}
            <div class="row mb-4">
                <div class="col-6">
                    <h4>Veículos</h4>
                </div>
                <div class="col-6 text-right">
                    <a href="{% url 'web:vehicle-create' %}" class="btn btn-primary">Novo</a>
                </div>
            </div>
            <div class="row">
                {% for vehicle in vehicles %}
                    <div class="col-6 mb-4">
                        <div class="card">
                            <div class="card-header bg-white border-0 pb-0">
                                <div class="row">
                                    <div class="col-10">
                                        <span class="text-truncate">{{ vehicle.maker }} {{ vehicle.model }}</span>
                                    </div>
                                    <div class="col-2 p-0">
                                        <div class="dropdown">
                                            <button class="btn btn-link dropdown-toggle" type="button"
                                                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item"
                                                   href="{% url 'web:vehicle-update' vehicle.id %}">Editar</a>
                                                <a class="dropdown-item" href="#">Excluir</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body pt-0">
                                <div class="row text-center">
                                    <div class="col-12">
                                        <strong class="text-truncate">{{ vehicle.get_board }}</strong>
                                    </div>
                                    <div class="col-12">
                                        <small class="text-truncate">{{ vehicle.color }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
